<nav class="sticky top-0 left-0 z-20 w-full px-2 bg-gray-100 border-b border-gray-200 sm:px-4">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <a routerLink="/" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-4 mr-3 sm:h-6" alt="Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap">Logo</span>
        </a>
        <div class="flex gap-3 md:order-2">
            <button type="button" (click)="profileDropdownToggle()" class="relative">
                <img type="button" class="object-cover w-8 h-8 rounded-full cursor-pointer"
                    src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="User dropdown">
                <div [ngClass]="{ 'hidden' : !profileDropdownOpened}"
                    class="absolute z-10 bg-white divide-y divide-gray-100 rounded shadow top-[calc(100%+4px)] right-0 w-auto">
                    <ul class="py-1 text-xs text-gray-700">
                        <li>
                            <a href="#" class="block px-6 py-1 hover:bg-gray-100">Profile</a>
                        </li>
                        <li>
                            <a href="#" class="block px-6 py-1 hover:bg-gray-100">Settings</a>
                        </li>
                    </ul>
                </div>
            </button>
            <button type="button" (click)="toggleMobileMenu()"
                class="inline-flex items-center justify-center w-8 h-8 p-2 text-sm text-gray-500 border border-gray-200 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                <span [hidden]="!mobileMenuClosed">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
                <span [hidden]="mobileMenuClosed">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-sticky"
            [hidden]="mobileMenuClosed">
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-100">
                <li>
                    <a routerLink="/dashboard/policy"
                        class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/statistics"
                        class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">
                        Statistics
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/buy-suggestion"
                        class="px-4 py-1.5 text-white bg-blue-500 rounded-full hover:bg-blue-700">
                        Plan for buy Policy ?
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>