<div class="p-4 border-solid border-indigo-400">
    <!--Card 1-->
    <div class="flex flex-col">
        <span class="flex flex-row">
            <span>Policy No.</span><span>01234587</span>
        </span>
        <span class="flex flex-row">
            <span>Provider</span><span>LIC</span>
        </span>
        <span class="flex flex-row">
            <span>Type</span><span>Life Insurance</span>
        </span>
        <span class="flex flex-row">
            <span>Nominee</span><span>Person XYZ</span>
        </span>
        <span class="flex flex-row">
            <span>Issue Date</span><span>01-JAN-2021</span>
        </span>
        <span class="flex flex-row">
            <span>Maturity Date</span><span>01-JAN-2040</span>
        </span>
        <span class="flex flex-row">
            <span>Payment Cycle</span><span>Annual</span>
        </span>
        <span class="flex flex-row">
            <span>Sum Assured</span><span>30,0000</span>
        </span>
        <span class="flex flex-row">
            <span>Total Inst. Paid</span><span>10</span>
        </span>
        <span class="flex flex-row">
            <span>Last Paid Date</span><span>Annual</span>
        </span>
        <span class="flex flex-row">
            <span>Next Due Date</span><span>01-Mar-2022</span>
        </span>
        <span class="flex flex-row">
            <span>Next Due Amt.</span><span>20000</span>
        </span>
       
       
    </div>
    
  </div>